<footer class="container templatemo-white-bg">
  <div class="row">
    <div class="col-lg-12">
      <p class="templatemo-copyright-container text-right small">
        <span class="templatemo-copyright-text"> <a href="#">DonEx</a></span>
        <span class="templatemo-copyright-design"></span>
      </p>
    </div>
  </div>
</footer>
