<nav id="responsive-menu">
      <ul class="menu-holder">
          <li class="active"><a href="#home"><i class="fa fa-home"></i>Home</a></li>
          <li><a href="#about"><i class="fa fa-briefcase"></i>About</a></li>
          <li><a href="#products"><i class="fa fa-cogs"></i>Download</a></li>
          <li><a href="#services"><i class="fa fa-list"></i>Services</a></li>
          <li><a href="#contact"><i class="fa fa-briefcase"></i>Contact</a></li>
      </ul>
  </nav>
<div class="templatemo-nav-container">
  <div class="container templatemo-white-bg">
    <div class="row">
      <nav class="hidden-xs text-uppercase templatemo-nav">
        <ul class="menu-holder">
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#products">Download</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <div class="text-right visible-xs">
              <a href="#" id="mobile_menu"><span class="fa fa-bars"></span></a>
          </div>
    </div>
  </div>
</div>
