<section id="home">
  <div class="container templatemo-white-bg">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 templatemo-about-right">
        <%= image_tag @update.image, style: 'height:350px;width:350px;' %>
      </div>
      <div class="templatemo-about-left col-lg-8 col-md-8 col-sm-8">
        <h2 class="templatemo-blue-text"><%= @update.title %></h2>
        <p class="templatemo-light-gray-text"><%= @update.description %></p>
      </div>
    </div>
  </div>
</section>
